.navbar{
  text-align: center;
  width: 100%;
  background-color: khaki;
  opacity: 0.7;
  margin-top: 0;
  padding: 0 20px 0 20px;
}
.navbar-right{
  margin-right: 100px;
}
.container-fluid{
   padding: 0 0 0 0px !important;
}
.tablink {
    background-color: #158A43;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;

}

.tablink:hover {
    background-color: mediumseagreen;
}
